[Unit]
Description=MVG Subway Scraper

[Service]
WorkingDirectory=/srv/mvg-scraper
Environment=MVG_STATION_RANGE=-1
Type=simple
ExecStart=puma
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target